:root {
    --primary-color: rgb(86, 110, 169);
    --secondary-color: rgb(255,208,184) ;
    --numDays: 1;
    --numHours: 11;
    --timeHeight: 64px;
}

/* GENERAL */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar{
    display: none;
}
main {
    flex: 1;
}

h2{
    text-align: center;
    color: var(--primary-color);
    text-transform: uppercase;
}

h3{
    color: var(--primary-color);
    text-transform: uppercase;
}

p.right {
    text-align: end;
    font-size: 1.6em;
    color: var(--primary-color);
}

h4{
    color: var(--primary-color);
    text-transform: capitalize;
}

.capitalize{
    text-transform: capitalize;
}

a.btn.btn.btn-primary:focus {
    background-color: var(--primary-color);
    border: vnone;
    color: white;
}

svg {
    margin-bottom: 2px;
}

/* SELECT */
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--primary-color);

}

.chart-menu select{
    max-width: 350px;
}

select:focus {
    outline: none;
    box-shadow: none;
}

select option {
    padding: 5px;
}

/* UPLOAD */
.custom-file-upload {
    display: inline-block;
    border: 1px solid var(--primary-color);
    padding: 6px 12px;
    border-radius: 4px;
    width: 100%;
    color: var(--primary-color);
    margin-bottom: 10px;
}

input::file-selector-button {
    color:  white;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer; 
    width: 50%;
    background-color: var(--primary-color);
    margin-right: 22px;
}

/* NAVBAR */
a.navbar-brand {
    font-size: 3em;
    margin-top: -8px;
}

a.navbar-brand:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease; 
}

.navbar-dark a.navbar-brand:hover{
    color: var(--secondary-color);
}

nav.navbar.navbar-expand-lg.navbar-dark{
    background-color: rgb(65, 77, 109);
    padding: 0 2em;
}

.navbar-dark .navbar-nav .nav-link  {
    font-size: 1.3em;
    color: rgba(255,255,255,.8);
    margin-right: 0.8em;
}

.navbar-dark .navbar-nav .nav-link:hover  {
    background-color: white;
    border-radius: 4px;
    color: rgb(65, 77, 109);
}

.nav-item.import-link{
    font-weight: 700;
}

/* TABLE */
table.table-hover> thead{
    text-transform: uppercase;
    color: var(--primary-color);
    background-color: var(--secondary-color);  
}

table.table-hover thead th{
    border-color: var(--primary-color);
}

.table-hover tbody tr:hover {
    background-color: rgba(86, 110, 169, 0.6); 
    color: white;
}

.table-hover tbody tr:hover .btn.btn-primary{
    background-color: white;
    color: var(--primary-color);
}

.table-hover tbody tr:hover .btn.btn-danger{
    background-color: white;
    color: rgb(218, 0, 0);
}

.table-hover tbody tr:hover th{
    color: white;
}

.table-detail th{
    color: var(--primary-color);
    text-transform: uppercase;
}

.btn-td {
    padding: 0rem 0.6rem;
    font-size: 1rem;
    font-weight: 700;
}

/* BUTTON */
.btn.btn-primary{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn.btn-primary.log{
    color: var(--primary-color);
    background-color: white;
}

.btn.btn-primary:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.btn.btn-primary.btn-block {
    margin: 30px auto 0;
    font-size: 1.2em;
    width: 50%;
}

.btn.btn-primary.btn-block:hover {
    background-color: white;
}

/* FILTRE */
.facture-filter-form {
    margin-top: 26px;
}

.filter-form {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0px; 
}

.filter-form p:nth-child(n+4) {
    justify-self: end; 
    margin-right: 8px;
}

.filter-form p:nth-child(n+5) {
    justify-self: start; 
}

.facture-filter-form select, input[type="date"] {
    margin-top: 8px;
    padding: 6px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.facture-filter-form select {
    width: 240px;
    padding: 6px;
    margin-right: 8px;
}

.facture-filter-form select#id_client option,
.facture-filter-form select#id_fournisseur option{
    text-transform: capitalize;
}

.facture-filter-form input[type="date"] {
    width: 150px;
}

/* FORM IMPORT */
.form-import-control {
    border: 2px solid var(--primary-color);
    padding: 28px;
    border-radius: 4px;
}

.form-import-control p label {
    display: none;
}

.form-import-control p {
    color: var(--primary-color);
}


/* TABS GRAPHIQUE */
.tabs {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;   
}

.tabs li {
    margin-right: 15px;
}

.tabs a {
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border: 1px solid  var(--primary-color);
    border-radius: 5px;
    transition: background-color 0.3s;
    color: white; 
    background-color: var(--primary-color);
}

.tabs a:hover {
    background-color: var(--secondary-color); 
    color: var(--primary-color);
}

.tab-content {
    display: none;
}

.tab-content.active {
    margin-top: 1rem;
    display: flex;
}

.tab-content.active > div {
    width: 380px;
}
.tab-content label  {
    color: rgba(86, 110, 169);
    padding-left: 4px;
    margin-top: 24px;
}

/* .tab-content.active > canvas.chart-container {
    width: 1300px !important;
    height: 630px !important; 
    margin-top: -90px;
    z-index: 88;
} */

.tab-content.active > canvas.chart-container {
    height: 784px !important; 
    margin-top: -120px;
    z-index: 88;
}

.chart-menu {
    margin-right: 60px;
}

/* ACCUEIL NON CONNECTE */
.welcome-message {
    text-align: center;
}

.guest-message {
    padding: 20px 40px;
    text-align: center;   
}

.guest-message p {
    color: var(--primary-color);
    font-size: 1.4em;
    margin-bottom: 50px;
}

.welcome-log{
    margin-top: 30px;
    display: flex;
    -webkit-box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
    -moz-box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
    box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
    border: 1px solid var(--primary-color);
}

.welcome-log h3 {
    text-transform: none;
    padding-bottom: 20px;
    font-size: 1.9em;
}

.column {
    flex: 50%;
    padding: 10px;
}

.column#main {
    flex: 50%;
    padding: 50px;
    margin-top: 24px;
    margin-left: 15px;
}

#secondary {
    background-color: var(--secondary-color);
    text-align: center;
    padding-top: 4.4%;
}

h2.log-title {
    margin-top: 30px;
}

.log-form {
    max-width: 600px;
    margin: 0px auto;
}

.log-form h2 {
    text-align: center;
}

.log-form label {
    display: block;
    margin-bottom: 8px;
}

.log-form input, .log-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid  var(--primary-color);
}


/*CALENDRIER*/
.calendar{
    border: 1px solid rgb(65, 77, 109);
	border-radius: 4px;
	overflow: hidden;
	width: 1800px;
	height: 790px;
    margin: -14px auto;
	background-color: #ffffff;
	color: #333333;
}

.calendar h1, .calendar h2{
	font-size: 26px;
	line-height: 28px;
	text-transform: uppercase;
	margin: 0px 0px 20px 0px;
}

.calendar h1 span{
	display: block;
}

.calendar .col{
	float: left;
	height: 100%;
}

.calendar .col .content{
	padding: 30px;
}

.calendar ul{
	margin: 0px;
}

.calendar ul li{
	list-style: none;
}

.calendar .leftCol{
	width: 30%;
	background-color: rgb(65, 77, 109);
}

.calendar .noteList li{
	color: #ffffff;
	margin-bottom: 10px;
}

.calendar .notes p,
.calendar .notes input,
.calendar .noteList li{
	font-weight: 300;
	font-size: 14px;
}

.calendar .notes p{
	border-bottom: solid 1px rgba(255,208,184,0.4);
}

.calendar .notes input{
	background-color: var(--secondary-color);
	color: #ffffff;
	border: none;
	width: 270px;
    font-weight: bold;
}

.calendar .addNote,
.calendar .removeNote{
	float: right;
	color: rgba(255,255,255,0.4);
	font-weight: bold;
	margin-left: 20px;
}

.calendar .addNote:hover,
.calendar .removeNote:hover{
	color: #ffffff;
}

.calendar .addNote{
	font-size: 16px;
}

.calendar .leftCol h1{
	color: #ffffff;
    margin: 50px 0 20px 0;
    text-align: center;
}

.calendar .rightCol{
	width: 69%;
}

.calendar .rightCol h2{
	color: var(--secondary-color);
	text-align: center;
    background-color: var(--primary-color);
}

.calendar .months li,
.calendar .weekday li,
.calendar .days li{
	float: left;
	text-transform: uppercase;
}

.calendar .months li a,
.calendar .weekday li a,
.calendar .days li a{
	display: block;
	color: var(--primary-color)
}

.calendar .months li a{
    font-size: 20px;
    color: var(--secondary-color);
    width: 72px;
    margin: 20px 0 20px 0px;
}

.calendar .months li .selected{
	font-weight: bold;
	color: white
}

.calendar .weekday li a{
    width: 150px;
	text-align: center;
	margin-bottom: 26px;
	font-size: 16px;
}

.calendar .days li{
	width: 150px;
}

.calendar .days li a{
    width: 150px;
    height: 102px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 2px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    box-shadow: rgba(9, 30, 66, 0.326) 1px 1px 1px, rgba(9, 30, 66, 0.353) 0px 0px 2px 1px;
}

.calendar .days li a:hover{
	background-color: var(--secondary-color);
}

.calendar .days li .selected{
	background-color: var(--secondary-color);
	color: #ffffff;
}

.calendar .days li .event{
	color: var(--secondary-color);
}

.hide-day {
    visibility: hidden;
}

/* placeholder color */
::-webkit-input-placeholder {color: var(--primary-color); }
:-moz-placeholder {color:var(--primary-color); }
::-moz-placeholder {color: var(--primary-color); }
:-ms-input-placeholder {color: var(--primary-color); }

.popup-set-hour {
    display: none;
    position: fixed;
    width: 40%;
    height: 94%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 100;
    color: var(--primary-color);
}

.popup-set-hour .popup-content {
    text-align: center;
}

.popup-set-hour .close-popup {
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    font-size: 28px;
}

.popup-set-hour  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.popup-set-hour  .popup-hour{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.popup-hour > th {
    background-color: var(--secondary-color);
    color: white;
}

.addNote {
    cursor: pointer;
}

.calendar-agenda {
    display: grid;
    gap: 6px;
    grid-template-columns: auto 1fr;
    margin: 1.8rem;
}

.timeline {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
}

.events {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
    border-radius: 4px;
    background: var(--secondary-color);
    margin-top: 30px;
    padding: 1px 0;
    box-shadow:rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 2px 4px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset   
}

.start-8 {
    grid-row-start: 1;
}

.start-9 {
    grid-row-start: 2;
}

.start-10 {
    grid-row-start: 3;
}

.start-11 {
    grid-row-start: 4;
}

.start-12 {
    grid-row-start: 5;
}

.start-1 {
    grid-row-start: 6;
}

.start-2 {
    grid-row-start: 7;
}

.start-3 {
    grid-row-start: 8;
}

.start-4 {
    grid-row-start: 9;
}

.end-10 {
    grid-row-end: 3;
}

.end-11 {
    grid-row-end: 4;
}

.end-12 {
    grid-row-end: 5;
}

.end-1 {
    grid-row-end: 7;
}

.end-2 {
    grid-row-end: 8;
}

.end-3 {
    grid-row-end: 9;
}

.end-4 {
    grid-row-end: 10;
}

.end-5 {
    grid-row-end: 11;
}

.end-6 {
    grid-row-end: 12;
}

.title {
    font-weight: 600;
    margin-bottom: 0.1rem;
}

.time-marker {
    border-radius: 2px;
    color: white;
    background-color: rgb(86, 110, 169, 0.7);
    width: 60px;
    padding-top: 32%;
    box-shadow: rgb(3 56 101 / 13%) 1px 3px 11px 0px inset, rgb(10 33 67 / 69%) -2px -3px 2px 1px inset;
}

.event {
    border-radius: 5px;
    padding: 0.4rem 0.5rem 0.5rem;
    margin: 1px 4px;
    background-color:seashell;
    position: relative;
    color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.event button {
    position: absolute;
    top: 2px;
    right: 2px;
}

.space,
.date {
    height: 60px
}  

.securities {
    background: rgba(255, 255, 255, 0.4);
}

.add-button-event {
    color: var(--primary-color);
}

/* POPUP AJOUT EVENT */
.modal {
    display: none;
    position: fixed;
    top: 40%;
    left: 83%;
    transform: translate(-50%, -50%);
    padding: 18px;
    width: 26%;
    height: 48%;
    color: var(--primary-color);
}

.modal-content {
    border: none;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.close {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
}

.add-event-form {
    padding: 12px;
}

.add-event-form {
    display: flex;
    flex-direction: column;
    max-width: 300px; 
    margin: auto; 
}

.add-event-form label {
    margin-bottom: 5px;
}

.add-event-form input,
.add-event-form button,
.add-event-form textarea {
    margin-bottom: 10px;
}

div.time-selection {
    display: flex;
    align-items: center;
}

.bi.bi-node-plus {
    margin-top: -7px;
}

.bi.bi-node-plus:hover  {
    color: var(--secondary-color);
}

.bi.bi-calendar2-plus {
    margin-top: -12px;
    color: var(--secondary-color);
}

.bi.bi-calendar2-plus:hover  {
    color: white;
}

.bi.bi-pencil {
    margin-top: -6px;
    color: var(--primary-color);
}

.bi.bi-pencil:hover  {
    color: #dc3545;
}

a:has(.event-indicator) {
    background-color: rgb(86, 110, 169, 0.3);
}


/* FOOTER */
footer {
    background-color: var(--secondary-color);
    padding-top: 10px;
    text-align: center;
    color: var(--primary-color);
}
