:root {
    --primary-color: rgb(86, 110, 169);
    --secondary-color: rgba(253, 232, 213);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h2{
    text-align: center;
    color: var(--primary-color);
    text-transform: uppercase;
}

table.table-hover> thead{
    text-transform: uppercase;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.btn-td{
    padding: 0rem 0.6rem;
    font-size: 0.9rem;
    font-weight: 700;

}

.btn.btn-primary{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.table-hover tbody tr:hover {
    background-color: rgba(86, 110, 169, 0.6); 
    color: white;
}

.table-hover tbody tr:hover .btn.btn-primary{
    background-color: white;
    color: var(--primary-color);
}

.table-hover tbody tr:hover .btn.btn-danger{
    background-color: white;
    color: rgb(218, 0, 0);
}

.table-hover tbody tr:hover th{
    color: white;
}

.table-detail th{
    color: var(--primary-color);
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

footer {
    background-color: var(--secondary-color);
    padding-top: 10px;
    text-align: center;
    color: var(--primary-color);
  }
