:root {
    --primary-color: rgb(86, 110, 169);
    --secondary-color: #ffd0b8;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h2{
    text-align: center;
    color: var(--primary-color);
    text-transform: uppercase;
}

select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    text-transform: capitalize;
}

select option {
    padding: 5px;

}

.custom-file-upload {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
    color:  var(--primary-color);
    border-radius: 4px;
    margin-right: 18px;
}

a.navbar-brand{
    font-size: 2em;
}

nav.navbar.navbar-expand-lg.navbar-dark{
    background-color: rgb(65, 77, 109);
}

table.table-hover> thead{
    text-transform: uppercase;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    
}

table.table-hover thead th{
    border-color: var(--primary-color);
}

.btn-td{
    padding: 0rem 0.6rem;
    font-size: 0.9rem;
    font-weight: 700;

}

.btn.btn-primary{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.table-hover tbody tr:hover {
    background-color: rgba(86, 110, 169, 0.6); 
    color: white;
}

.table-hover tbody tr:hover .btn.btn-primary{
    background-color: white;
    color: var(--primary-color);
}

.table-hover tbody tr:hover .btn.btn-danger{
    background-color: white;
    color: rgb(218, 0, 0);
}

.table-hover tbody tr:hover th{
    color: white;
}

.table-detail th{
    color: var(--primary-color);
    text-transform: uppercase;
}

div.facture-filter-form {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.facture-filter-form input[type="date"] {
    width: 150px;
    padding: 2px;
    margin-right: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.facture-filter-form .btn {
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.6em;
    margin-top: -24px;
}
.capitalize{
    text-transform: capitalize;
}

footer {
    background-color: var(--secondary-color);
    padding-top: 10px;
    text-align: center;
    color: var(--primary-color);
  }
