{% extends 'base.html' %}

{% block content %}
<div class="container-md mt-4">
    <h2>Calendrier</h2>
    <div class="calendar">
        <div class="col leftCol">
            <div class="content">
                <ul class="months months-list">
                    {% for month in months %}
                        <li><a href="mois/{{ month.value }}" title="{{ month.name }}" data-value="{{ month.value }}"{% if month.selected %} class="selected"{% endif %}>{{ month.name }}</a></li>
                    {% endfor %}
                </ul>
                <div class="clearfix"></div>     
                <h1 class="date">{{ current_date }}</h1>
                <div class="popup popup-set-hour" id="popup-hour">
                    <div class="popup-content">
                        <span class="close-popup" onclick="closePopup()">&times;</span>
                        <div class="calendar-agenda">
                            <div class="timeline">
                              <div class="spacer"></div>
                              <div class="time-marker">8 AM</div>
                              <div class="time-marker">9 AM</div>
                              <div class="time-marker">10 AM</div>
                              <div class="time-marker">11 AM</div>
                              <div class="time-marker">12 PM</div>
                              <div class="time-marker">1 PM</div>
                              <div class="time-marker">2 PM</div>
                              <div class="time-marker">3 PM</div>
                              <div class="time-marker">4 PM</div>
                              <div class="time-marker">5 PM</div>
                              <div class="time-marker">6 PM</div>
                            </div>
                            <div class="days">
                              <div class="day mon">
                                <div class="dates">
                                    <h2>Agenda</h2>
                                </div>
                                <div class="events">
                                    <div class="event start-10 end-12 securities">
                                        <p class="title">Corporate Finance</p>
                                        <p class="time">10 AM - 12 PM</p>
                                    </div>
                                    <div class="event start-2 end-3 securities">
                                        <p class="title">Securities Regulation</p>
                                        <p class="time">2 PM - 5 PM</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        
                    </div>
                </div>                              
                <div class="notes">
                    <p>
                        <input type="text" value="" placeholder="Ajouter une note" id="note-input"/>
                        <a href="#" title="Ajouter une note" class="addNote animate" onclick="openPopup()">+</a>
                    </p>
                    <ul class="noteList">
                        {% for event in events_day %}
                        <li>{{ event.title }} : {{ event.num_facture }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="clearfix"></div>                
            </div>
        </div>

        <div class="col rightCol">
            <div class="content">
                <h2 class="year">2024</h2>               
                   <!-- Logique pour les jours de la semaine -->
                   <ul class="weekday">
                    {% for day in days_of_week %}
                        <li><a href="#" title="{{ day }}" data-value="{{ day }}">{{ day }}</a></li>
                    {% endfor %}
                </ul>
                <div class="clearfix"></div>
                <!-- Logique pour les jours du mois -->
                <ul class="days days-list">
                    {% for day in days_of_month %}
                        <li>
                            <a href="jour/{{day.month}}/{{ day.day }}" title="{{ day.day }}" data-value="{{ day.day }}" {% if day.month != selected_month %}class="other-month"{% endif %} {% if not day.day %}class="hide-day"{% endif %}>
                                {{ day.day }}
                            {% if day in events_date %}
                                <span class="event-indicator">X</span>
                            {% endif %}                           
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock %}
