{% extends 'base.html' %}

{% block content %}
<div class="container-md mt-4">
   
    <div class="calendar">
        <div class="col leftCol">
            <div class="content">
                <ul class="months months-list">
                    {% for month in months %}
                        <li><a href="mois/{{ month.value }}" title="{{ month.name }}" data-value="{{ month.value }}"{% if month.selected %} class="selected"{% endif %}>{{ month.name }}</a></li>
                    {% endfor %}
                </ul>
                <div class="clearfix"></div>     

                <!-- Fenêtre modale agenda -->
                <div id="overlay"></div>
                <div class="popup popup-set-hour" id="popup-hour">
                    <div class="popup-content">
                        <span class="close-popup" onclick="closePopup()">&times;</span>
                        <div class="calendar-agenda">
                            <div class="timeline">
                              <div class="spacer"></div>
                              <div class="time-marker">8 : 00</div>
                              <div class="time-marker">9 : 00</div>
                              <div class="time-marker">10 : 00</div>
                              <div class="time-marker">11 : 00</div>
                              <div class="time-marker">12 : 00</div>
                              <div class="time-marker">13 : 00</div>
                              <div class="time-marker">14 : 00</div>
                              <div class="time-marker">15 : 00</div>
                              <div class="time-marker">16 : 00</div>
                              <div class="time-marker">17 : 00</div>
                              <div class="time-marker">18 : 00</div>
                            </div>
                            <div class="days">
                              <div class="day mon">
                                <div class="dates">
                                    <h2 class="agenda-h2">Planifier <button id="openModal" onclick="openModal();" class="add-button-event"><svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-window-plus" viewBox="0 0 16 16">
                                        <path d="M2.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1M4 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1m2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                                        <path d="M0 4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V7H1v5a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2zm1 2h13V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
                                        <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5"/>
                                      </svg></button></h2>                                   
                                </div>
                                <div class="events">
                                    {% for event in events_day %}
                                        <div class="event start-{{ event.start_datetime.hour }} end-{{ event.end_datetime.hour }}">
                                            <button class="btn btn-td btn-danger" data-event-id="{{ event.id }}" onclick="deleteEvent(this);">X</button>  
                                            <p class="title">{{ event.title }} 
                                            {% if event.num_facture %}
                                                {% for facture in factures_events  %} 
                                                    {% if facture.num_facture == event.num_facture %}                                              
                                                    : <button class="btn-facture-cal" onclick="openDetailPopup('{{ facture.id_facture}}');">{{facture.num_facture }}</button>    
                                                    {% endif %}
                                                {% endfor %}                                           
                                            {% endif %} 
                                            <button class="add-button-event" onclick="openModal(); getEvent('{{ event.id }}');"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                              </svg></button>
                                            </p>
                                            <p class="time">{{ event.start_datetime|time:"H:i" }} - {{ event.end_datetime|time:"H:i" }}</p>                                                                                 
                                        </div>
                                    {% endfor %}
                                </div>
                              </div>
                            </div>
                        </div>                       
                    </div>
                </div>    

                <!-- Fenêtre modale ajout event-->
                <div class="modal" id="myModalEvent">
                    <div class="modal-content">
                        <span class="close" id="closeModal" onclick="closeModal();">&times;</span>
                        <form id="eventForm" class="add-event-form">
                        <input type="text" id="eventId" name="event-id" hidden>
                        <label for="eventName">Titre:</label>
                        <input type="text" id="eventName" name="event-name" required>
                        <label for="eventName">Description:</label>
                        <textarea id="eventDesc" name="event-desc"></textarea>
                        <label for="eventDateDeb">Heure de début :</label>
                        <div class="time-selection">
                            <select id="eventHourDeb" name="event-hour-deb" required></select>
                            <select id="eventMinDeb" name="event-min-deb" required></select>
                        </div>
                        <label for="eventDateFin">Heure de fin :</label>
                        <div class="time-selection">                       
                            <select id="eventHourEnd" name="event-hour-end" required></select>
                            <select id="eventMinEnd" name="event-min-end" required></select>
                        </div>
                        <button type="submit" class="btn btn-primary submit-add-event" onclick="eventFormSubmit();">Ajouter</button>
                        </form>
                    </div>
                </div>
                          
                <div class="notes">
                    <div class="calendar_plan">
                        <div class="cl_plan">
                          <div class="cl_title">Mes rendez-vous</div>
                          <h2 class="cl_copy date">{{current_date}}</h2>
                          <div class="cl_add">
                            <a href="#" title="Ajouter une note" class="addNote animate" onclick="openPopup()"><svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-calendar2-plus" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
                                <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5zM8 8a.5.5 0 0 1 .5.5V10H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V11H6a.5.5 0 0 1 0-1h1.5V8.5A.5.5 0 0 1 8 8"/>
                                </svg></a>
                          </div>
                        </div>
                      </div>
                    <!-- <p>
                        <input type="text" value="" placeholder="Mes rendez-vous" id="note-input"/>
                        <a href="#" title="Ajouter une note" class="addNote animate" onclick="openPopup()"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar2-plus" viewBox="0 0 16 16">
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
                        <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5zM8 8a.5.5 0 0 1 .5.5V10H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V11H6a.5.5 0 0 1 0-1h1.5V8.5A.5.5 0 0 1 8 8"/>
                        </svg></a>
                    </p> -->
                    <ul class="noteList">
                    {% for event in events_day %}
                        <li class="cal-event_item">
                            {% if event.num_facture %}
                                {% for facture in factures_events  %}  
                                    {% if facture.num_facture == event.num_facture %}                                               
                                    <button class="btn-facture-cal" onclick="openDetailPopup('{{ facture.id_facture}}');">{{facture.num_facture }}</button>    
                                    {% endif %}  
                                {% endfor %}
                            {% else %}
                                {{ event.start_datetime|time:"H:i" }} - {{ event.end_datetime|time:"H:i" }}
                            {% endif %}                            
                            : {{ event.title }}    
                            <p>{{ event.description }}  </p>                        
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="clearfix"></div>                
            </div>
            <!-- Modale pour le détail -->
            <div class="popup popup-detail" id="popupDetailFCal">
                <div class="popup-content">
                    <button class="btn btn-td btn-danger" onclick="closeDetailPopup()">X</button>
                    <h3 class="mb-4 detail_num_facture"></h3>
                    <div class="table-responsive">
                    <table class="table table-detail table-hover">
                        <tbody>       
                        <tr>
                            <th scope="row">Date de facture</th>
                            <td class="detail_date_facture"></td>
                        </tr>
                        <tr>
                            <th scope="row">Nom du client</th>
                            <td class="capitalize detail_nom_client"></td>
                        </tr>
                        <tr>
                            <th scope="row">Nom du fournisseur</th>
                            <td class="capitalize detail_r_social_fournisseur"></td>
                        </tr>
                        <tr>
                            <th scope="row">Total HT</th>
                            <td class="detail_total_ht">{{ facture.total_ht_facture }} {{ facture.devise.symb_devise }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Total TTC</th>
                            <td class="detail_total_ttc"></td>
                        </tr>
                        <tr>
                            <th scope="row">Méthode de paiement</th>
                            <td class="capitalize detail_methode_paiement"></td>
                        </tr>
                        <tr>
                            <th scope="row">Facture acquittée</th>
                            <td class="detail_statut_facture">
                            
                            </td>
                        </tr>      
                        <tr>
                            <th scope="row">Catégorie</th>
                            <td class="detail_cat_facture"></td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col rightCol">
            <div class="content">
                <h3>Calendrier</h3>
                <h2 class="year">2024</h2>               
                   <!-- Logique pour les jours de la semaine -->
                   <ul class="weekday">
                    {% for day in days_of_week %}
                        <li><a href="#" title="{{ day }}" data-value="{{ day }}">{{ day }}</a></li>
                    {% endfor %}
                    </ul>
                    <div class="clearfix"></div>

                    <!-- Logique pour les jours du mois -->
                    <ul class="days days-list">
                    {% for day in days_of_month %}
                        <li>
                            <a href="jour/{{day.month}}/{{ day.day }}" title="{{ day.day }}" data-value="{{ day.day }}" {% if day.month != selected_month %}class="other-month"{% endif %} {% if not day.day %}class="hide-day"{% endif %}>
                                {{ day.day }}
                                {% if day in events_date %}
                                    <span class="event-indicator"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-stickies" viewBox="0 0 16 16">
                                        <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5V13a1 1 0 0 0 1 1V1.5a.5.5 0 0 1 .5-.5H14a1 1 0 0 0-1-1z"/>
                                        <path d="M3.5 2A1.5 1.5 0 0 0 2 3.5v11A1.5 1.5 0 0 0 3.5 16h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 16 9.586V3.5A1.5 1.5 0 0 0 14.5 2zM3 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V9h-4.5A1.5 1.5 0 0 0 9 10.5V15H3.5a.5.5 0 0 1-.5-.5zm7 11.293V10.5a.5.5 0 0 1 .5-.5h4.293z"/>
                                      </svg></span>
                                {% endif %}                           
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock %}
