<!-- logifacturapp/detail.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>Détails de la Facture</h1>
  <p>Numéro de facture : {{ facture.num_facture }}</p>
  <p>Date de facture : {{ facture.date_facture }}</p>
  <p>Nom du client : {{ facture.client.nom_client }} {{ facture.client.prenom_client }}</p>
  <p>Nom du fournisseur : {{ facture.fournisseur.r_social_fourn }}</p>
  <p>Total HT : {{ facture.total_ht_facture }} {{ facture.devise.symb_devise }}</p>
  <p>Total TTC : {{ facture.total_ttc_facture }} {{ facture.devise.symb_devise }}</p>
  <p>Catégorie : {{ facture.cat_facture.nom_cat_facture }}</p>

  <!-- Lien de retour à la liste des factures -->
  <a href="{% url 'logifacturapp:index' %}">Retour à la liste des factures</a>
{% endblock %}
