<!-- logifacturapp/detail.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2 class="mb-4">Facture {{ facture.num_facture }}</h2>
    <div class="table-responsive">
      <table class="table table-detail table-hover">
        <tbody>       
          <tr>
            <th scope="row">Date de facture</th>
            <td>{{ facture.date_facture|date:"d-m-Y" }}</td>
          </tr>
          <tr>
            <th scope="row">Nom du client</th>
            <td class="capitalize">{{ facture.client.nom_client }} {{ facture.client.prenom_client }}</td>
          </tr>
          <tr>
            <th scope="row">Nom du fournisseur</th>
            <td class="capitalize">{{ facture.fournisseur.r_social_fourn }}</td>
          </tr>
          <tr>
            <th scope="row">Total HT</th>
            <td>{{ facture.total_ht_facture }} {{ facture.devise.symb_devise }}</td>
          </tr>
          <tr>
            <th scope="row">Total TTC</th>
            <td>{{ facture.total_ttc_facture }} {{ facture.devise.symb_devise }}</td>
          </tr>
          <tr>
            <th scope="row">Méthode de paiement</th>
            <td class="capitalize">{{ facture.methode_paiement.nom_m_paie }}</td>
          </tr>
          <tr>
            <th scope="row">Facture acquittée</th>
            <td>
                {% if facture.statut_facture %}
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="green" class="bi bi-check2-circle" viewBox="0 0 16 16">
                      <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                      <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                    </svg></span>
                {% else %}
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="rgb(220, 53, 69)" class="bi bi-x-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                    </svg></span>
                {% endif %}
            </td>
          </tr>      
          <tr>
            <th scope="row">Catégorie</th>
            <td>{{ facture.cat_facture.nom_cat_facture }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <a href="{% url 'logifacturapp:liste_facture' %}" class="btn btn-primary mt-4">Retour à la liste des factures</a>
  </div>
{% endblock %}
