<!-- logifacturapp/import_facture.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-9 offset-md-2">
        <h2 class="text-center mb-3">Import des factures</h2>

        <div class="form-import-control mb-3">
          <p>Commencez à importer vos factures en téléchargeant ce modèle de facture. Importez ensuite le fichier dûment rempli (les champs obligatoires sont pré-saisis) via le formulaire ci-dessous.</p>
          <a href="../../static/modele_doc_facture/Modele-facture.xlsx" class="btn btn-primary" download="modele-facture.xls">Télécharger le modèle Excel</a>
        </div>
        <form method="post" enctype="multipart/form-data" class="form-import-control">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="form-group">
            {{ form.label_tag }}
            {{ form.file }}
          </div >
          <button type="submit" class="btn btn-primary btn-block" onclick="checkAdresseClient();">Importer</button>
        </form>

        <div class="popup popup-maj-client" id="confirmationClientPopup">
          <div class="popup-maj-client-content">
              <p>L'adresse du client a changé</p>
              <p>Voulez-vous enregistrer cette nouvelle adresse ?</p>
              <p><span id="newAdrClient">{{context.new_adr}}</span> <span id="newAdr2Client">{{context.new_adr2}}</span> <span id="newAdrVilleClient">{{context.new_adr_ville}}</span></p>
              <button id="confirmClientButton" onclick=" majInfoClient('{{ context.id_client }}')">Oui</button>
              <button id="cancelClientButton" onclick="closePopupMajClient();">Annuler</button>
          </div>
        </div>
        <div id="checkAdrClient" data-value="{{ context.adresse_differe }}">{{ context.id_client }}</div>
        {% if messages %}
          <ul class="mt-3 messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}        
      </div>     
    </div>    
  </div>
{% endblock %}
