<!-- index.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container-md mt-4 mx-5">
    {% if user.is_authenticated %}
        <h2 class="capitalize">bonjour {{ user.username }} !</h2>
            <h3>Suivi pour l'année en cours</h3>
           <ul class="tabs">
            <li><a href="#categories">Par catégorie</a></li>
            <li><a href="#fournisseurs">Par fournisseur</a></li>
            <li><a href="#clients">Par client</a></li>
        </ul>

        <div id="categories" class="tab-content active" data-categories-totals="{{ categories_totals|safe }}">
            <div>
                <label for="categorySelect">Sélectionnez une catégorie :</label>
                <select id="categorySelect">
                </select>
            </div>
            <canvas id="chartCat" class="chart-container"></canvas>
        </div>

            
        <div id="fournisseurs" class="tab-content" data-fournisseurs-totals="{{ fournisseurs_totals|safe }}">   
            <div>
                <label for="fournSelect">Sélectionnez un fournisseur :</label>
                <select id="fournSelect">
                </select>
            </div>
            <canvas id="chartFourn" class="chart-container"></canvas>
        </div>
        
        <div id="clients" class="tab-content" data-clients-totals="{{ clients_totals|safe }}">
            <div>
                <label for="clientSelect">Sélectionnez un client :</label>
                <select id="clientSelect">
                </select>
            </div>
            <canvas id="chartClient" class="chart-container"></canvas>
        </div>       
    {% else %}
        <h2>Bonjour profane, connecte toi pour commencer</h2>
    {% endif %}
</div>
{% endblock %}

