<!-- index.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="container-md mt-5 mx-5">
        <h2 class="mb-4">Factures</h2>
        {% if facture_list %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Numéro de Facture</th>
                        <th scope="col">Date de Facture</th>
                        <th scope="col">Total TTC</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for facture in facture_list %}
                        <tr>
                            <td>{{ facture.num_facture }}</td>
                            <td>{{ facture.date_facture }}</td>
                            <td>{{ facture.total_ttc_facture }} {{ facture.devise.symb_devise }}</td>
                            <td><a href="{% url 'logifacturapp:detail' facture.id_facture %}" class="btn btn-td btn-primary">&#129178;</a>
                                <button class="btn btn-td btn-danger" data-toggle="modal" data-target="#confirmationModal{{ facture.id_facture }}">
                                    X
                                </button></td>
                            
                        </tr>
                        <!-- Modale de confirmation pour la suppression -->
                        <div class="modal fade" id="confirmationModal{{ facture.id_facture }}" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmationModalLabel">Confirmer la suppression</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Êtes-vous sûr de vouloir supprimer la facture numéro {{ facture.numero_facture }} ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <form method="post" action="{% url 'logifacturapp:delete_facture' facture.id_facture %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="lead">Aucune facture n'est disponible.</p>
        {% endif %}
    </div>
{% endblock %}
