<!-- index.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="container-md mt-4 mx-5">
        <h2 class="mb-4">Factures</h2>
        {% if facture_list %}
            <div class="facture-filter-form">
                <form method="get" action="" class="filter-form">
                {{ form.as_p }}
                </form>
            </div>
            <table class="table table-hover table-facture-list">
                <thead>
                    <tr>
                        <th scope="col">Numéro de Facture <span class="arrow neutre"></span></th>
                        <th id="thDateF" scope="col">Date de Facture <span class="arrow neutre"></span></th>
                        <th scope="col">Fournisseur <span class="arrow neutre"></span></th>
                        <th scope="col">Client <span class="arrow neutre"></span></th>
                        <th scope="col">Catégorie <span class="arrow neutre"></span></th>
                        <th scope="col">Total TTC <span class="arrow neutre"></span></th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>                    
                    {% for facture in facture_list %}
                        <tr>
                            <td>{{ facture.num_facture }}</td>
                            <td>{{ facture.date_facture|date:"d-m-Y" }}</td>
                            <td class="capitalize">{{ facture.fournisseur.r_social_fourn }}</td>
                            <td class="capitalize">{{ facture.client.nom_client }} {{ facture.client.prenom_client }}</td>
                            <td>{{ facture.cat_facture.nom_cat_facture }}</td>
                            <td>{{ facture.total_ttc_facture }} {{ facture.devise.symb_devise }}</td>
                            <td><button class="btn btn-td btn-primary" onclick="openDetailPopup('{{ facture.id_facture }}')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
                                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                                <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8m0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5"/>
                              </svg></button>

                                <button class="btn btn-td btn-danger" data-toggle="modal" data-target="#confirmationModal{{ facture.id_facture }}">
                                    X
                                </button></td>
                            
                        </tr>
                        <!-- Modale de confirmation pour la suppression -->
                        <div class="modal fade" id="confirmationModal{{ facture.id_facture }}" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmationModalLabel">Confirmer la suppression</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Êtes-vous sûr de vouloir supprimer la facture numéro {{ facture.numero_facture }} ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <form method="post" action="{% url 'logifacturapp:delete_facture' facture.id_facture %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </td>                   
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Modale pour le détail -->
        <div id="overlayF"></div>
        <div class="popup popup-detail" id="popupDetailF">
            <div class="popup-content">
                <button class="btn btn-td btn-danger" onclick="closeDetailPopup()">X</button>
                <h3 class="mb-4 detail_num_facture"></h3>
                <div class="table-responsive">
                  <table class="table table-detail table-hover">
                    <tbody>       
                      <tr>
                        <th scope="row">Date de facture</th>
                        <td class="detail_date_facture"></td>
                      </tr>
                      <tr>
                        <th scope="row">Nom du client</th>
                        <td class="capitalize detail_nom_client"></td>
                      </tr>
                      <tr>
                        <th scope="row">Nom du fournisseur</th>
                        <td class="capitalize detail_r_social_fournisseur"></td>
                      </tr>
                      <tr>
                        <th scope="row">Total HT</th>
                        <td class="detail_total_ht">{{ facture.total_ht_facture }} {{ facture.devise.symb_devise }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Total TTC</th>
                        <td class="detail_total_ttc"></td>
                      </tr>
                      <tr>
                        <th scope="row">Méthode de paiement</th>
                        <td class="capitalize detail_methode_paiement"></td>
                      </tr>
                      <tr>
                        <th scope="row">Facture acquittée</th>
                        <td class="detail_statut_facture">                           
                        </td>
                      </tr>      
                      <tr>
                        <th scope="row">Catégorie</th>
                        <td class="detail_cat_facture"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        {% else %}
            <p class="lead">Aucune facture n'est disponible.</p>
        {% endif %}
    </div>
{% endblock %}
