<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LogiFacture{% endblock %}</title>
</head>
<body>

    <header>
        <h1>Menu</h1>
        <nav>
            <ul>
                <li><a href="{% url 'logifacturapp:index' %}">Accueil</a></li>
                <li><a href="{% url 'logifacturapp:import_facture' %}">Import</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 LogiFacture. Tous droits réservés.</p>
    </footer>

    <!-- scripts JavaScript -->

</body>
</html>
