{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-MC5b6aJfnCog6R6Sfbg8CpoTwA5+J1/4oL8e6J9ik4XaOVp4rjgeerWQbNBVpDIh6i6Xb9DY21Z1jveZfKv0eA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}LogiFacture{% endblock %}</title>
</head>
<body>
    {% if user.is_authenticated %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="{% url 'logifacturapp:index' %}">&#10763;</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logifacturapp:liste_facture' %}">Factures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logifacturapp:liste_fournisseur' %}">Fournisseurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logifacturapp:liste_client' %}">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logifacturapp:import_facture' %}">Import</a>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">  
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Déconnexion</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {% else %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="{% url 'logifacturapp:index' %}">&#10763;</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">                 
                    <li>
                        <a class="nav-link" href="{% url 'signup' %}">Inscription</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'login' %}">Connexion</a>
                    </li>             
                </ul>
            </div>
        </nav>
    </header>
    {% endif %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="mt-4">
        <p>&copy; 2024 - LogiFacture</p>
    </footer>
    <script src="{% static 'js/script.js' %}" ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
